
.root {
    min-height: 100vh;
}

.event {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 300px;
}

.event__img {
    display: inline-block;
    margin-right: 1em;
    width: 20px;
    height: 20px;
}

.menu__list {
    display: flex;
}

.menu__item {
    padding: 1em;
}

.channels__item,
.playlist__item {
    padding: 1em;
    display: flex;
    position: relative;
    width: 50%;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }
}

.channels__item-child,
.playlist__item-child {
    margin-right: 2em;
    width: 200px;
}

.video {
    width: 400px;
    margin-left: 30px;
}